<% include partials/header %>
<div class="container">
<h1 style="text-align: center;">Add a New Customer</h1>
	<div class="row>"
		
		<div style="width:30%; margin: 25px auto;">
			<form action="/customer" method="POST"> 
				<div class="form-group">
					Customer Name: <input class="form-control" type="text" name = "customername" placeholder = "name"">
				</div>
				<div class="form-group">
					Customer Address: <input class="form-control" type="text" name = "customeraddress" placeholder = "address">
				</div>	
				<div class="form-group">
					Latitude: <input class="form-control" type="text" name = "latitude" id = "lat" required>
				</div>
				<div class="form-group">
					Longitude: <input class="form-control" type="text" name = "longitude" id = "lng" required>
				</div>
				<div class="form-group">
					Date: <input class="form-control" type="date" name = "deliverydate" id = "deliverydate" placeholder = "date">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>
			<a href="/">Go Back!</a>
		</div>
	</div>
</div>
<% include partials/footer %>

