<% include partials/header %>
<div class="container">
	<div class="row">
		<div style="width:30%; margin: 25px auto;">
			<p style="text-align:center" class="lead"> Let's find some optimal routes!</p>
			<a href="/customer" class="btn btn-lg btn-primary btn-block">Add Customer</a>
			<a href="/route" class="btn btn-lg btn-primary btn-block">Generate Optimal Route</a>
		</div>
	</div>
</div>
<% include partials/footer %>
